.notification__container {
  position: fixed;
  bottom: var(--spacing-large);
  left: var(--spacing-large);

  display: flex;
  align-items: center;
  padding: var(--spacing-medium) var(--spacing-large);

  background-color: var(--color-white);
  border: 1px solid var(--color-black);
}

.notification__close {
  width: 30px;
  height: 30px;
  margin-left: var(--spacing-large);
}
