:root {
  --color-blue: #3199d7;
  --color-dark: #222222;
  --color-light: #f8f9fa;
	--color-white: #ffffff;
	--color-black: #000000;

  --spacing-large: 20px;
  --spacing-medium: 15px;
  --spacing-small: 10px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  scrollbar-color: var(--color-blue) var(--color-dark);
  scrollbar-width: thin;
}

body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 1.7;
  font-family: Arial, Helvetica, sans-serif;

  background-color: var(--color-dark);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-blue);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-dark);
}

:global(.btn) {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

:global(.img-contain) {
  display: block;

  object-fit: contain;
  object-position: center;
}

:global(.img-cover) {
  display: block;

  object-fit: cover;
  object-position: center;
}