:root {
  --color-blue: #3199d7;
  --color-dark: #222222;
}

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  scrollbar-color: var(--color-blue) var(--color-dark);
  scrollbar-width: thin;
}

body {
  height: 200vh;
  margin: 0;
  padding: 0;

  background-color: var(--color-dark);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-blue);
	border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-dark);
}
