:root {
	--color-blue: #3199d7;
	--color-dark: #222222;
	--color-light: #f8f9fa;

	--spacing-small: 10px;
	--spacing-medium: 15px;
	--spacing-large: 20px;
}

*,
::after,
::before {
	box-sizing: border-box;
}

* {
	scrollbar-color: var(--color-blue) var(--color-dark);
	scrollbar-width: thin;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.7;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--color-dark);
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-blue);
	border-radius: 2px;
}

::-webkit-scrollbar-track {
	background-color: var(--color-dark);
}
